* {
  margin: 0;
  padding: 0; }

header {
  background-color: black;
  color: wheat; }
  header img {
    width: 200px; }
  header nav {
    background-color: black;
    color: white; }
    header nav ul {
      list-style: none;
      text-align: center; }
      header nav ul li {
        display: inline-block;
        margin: 10px 5px 10px 5px;
        align-items: center; }
        header nav ul li a {
          text-decoration: none;
          color: white;
          margin-left: 100px; }

main .hero {
  background-image: url("../img/quesos-duros-vaquero-small.jpg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  background-color: black; }
  main .hero h2 {
    padding: 20px;
    font-size: 50px; }
  main .hero p {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px; }
  main .hero a {
    padding: 20px;
    font-size: 30px;
    color: white; }

main .grid-contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start; }
  main .grid-contenedor .grid-items {
    color: white;
    background-color: black; }
    main .grid-contenedor .grid-items h2 {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px; }
    main .grid-contenedor .grid-items p {
      font-size: 15px; }
    main .grid-contenedor .grid-items img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      padding: 20px;
      align-content: center; }

main .envios {
  color: white;
  background-color: black;
  text-align: center;
  background-image: url(../img/1-slide-1678189968784-2371531713-9bec6f1025b7bbe91c656d17ebe637241678189971-480-0.webp);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  justify-items: center; }
  main .envios div iframe {
    padding: 50px; }

main .accordion-body {
  color: white;
  background-color: black; }

main .mayoristas {
  background-image: url(../img/quesoss.jpg);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  justify-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black; }
  main .mayoristas .foto-1 img {
    width: 90px;
    height: 90px; }
  main .mayoristas .foto2 img {
    width: 90px;
    height: 90px; }
  main .mayoristas .foto3 img {
    width: 90px;
    height: 90px; }
  main .mayoristas .nosotros p {
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; }

main .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
  background-color: black; }
  main .grid-container .grid-item {
    border: 2px solid white;
    box-shadow: 15px 13px 12px -3px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 15px 13px 12px -3px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 15px 13px 12px -3px rgba(255, 255, 255, 0.5); }
    main .grid-container .grid-item img {
      height: 350px;
      width: 300px;
      margin-left: 80px;
      margin-top: 30px; }
    main .grid-container .grid-item h3 {
      color: white;
      position: relative;
      text-align: center; }

footer div a img {
  width: 60px;
  padding: 10px; }

@media screen and (max-width: 768px) {
  main .grid-contenedor {
    display: flex;
    flex-direction: column; }
    main .grid-contenedor .grid-items {
      padding: 3px;
      text-align: center; }
  main .grid-container {
    grid-template-columns: 300px 300px;
    grid-template-rows: 250px 250px;
    column-gap: 10px;
    row-gap: 50px;
    padding: 20px; }
    main .grid-container .grid-item {
      border: 2px solid white;
      justify-content: center;
      align-items: center; }
      main .grid-container .grid-item img {
        width: 150px;
        height: 180px;
        align-items: center;
        justify-content: center; }
      main .grid-container .grid-item h3 {
        position: relative;
        text-align: center;
        font-size: 10px; } }

@media screen and (max-width: 414px) {
  main .hero h2 {
    font-size: 30px; }
  main .hero p {
    font-size: 15px; }
  main .hero a {
    font-size: 15px; }
  main .grid-container {
    grid-template-columns: 300px;
    grid-template-rows: 250px;
    column-gap: 10px;
    row-gap: 50px;
    padding: 20px; }
    main .grid-container .grid-item {
      border: 2px solid white;
      justify-content: center;
      align-items: center; }
      main .grid-container .grid-item img {
        width: 150px;
        height: 180px;
        align-items: center;
        justify-content: center; }
      main .grid-container .grid-item h3 {
        position: relative;
        text-align: center;
        font-size: 10px; }
  main .mayoristas .foto-1 img {
    width: 50px;
    height: 50px; }
  main .mayoristas .foto-1 h3 {
    font-size: 20px; }
  main .mayoristas .foto-1 p {
    font-size: 10px;
    text-align: center; }
  main .mayoristas .foto2 img {
    width: 50px;
    height: 50px; }
  main .mayoristas .foto2 h3 {
    font-size: 20px; }
  main .mayoristas .foto2 p {
    font-size: 10px;
    text-align: center; }
  main .mayoristas .foto3 img {
    width: 50px;
    height: 50px; }
  main .mayoristas .foto3 h3 {
    font-size: 20px; }
  main .mayoristas .foto3 p {
    font-size: 10px;
    text-align: center; }
  main .mayoristas .nosotros p {
    font-size: 15px;
    padding: 0;
    margin-left: 3px;
    margin-right: 3px; }
  main .envios {
    font-size: 8px;
    justify-content: center;
    align-items: center; }
    main .envios p {
      font-size: 15px;
      justify-content: center;
      text-align: center; }
    main .envios form .mb-3 {
      justify-content: center; } }

.foto-1 img {
  transition: 1s; }

.foto-1 img:hover {
  transform: scale(1.2); }

.foto2 img {
  transition: 1s; }

.foto2 img:hover {
  transform: scale(1.2); }

.foto3 img {
  transition: 1s; }

.foto3 img:hover {
  transform: scale(1.2); }

.grid-contenedor .grid-items img {
  animation-name: imagen;
  animation-duration: 2s;
  animation-iteration-count: initial; }

@keyframes imagen {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
