main {
    .hero {
        background-image: url("../img/quesos-duros-vaquero-small.jpg");
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $color-secundario;
        text-align: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        background-color: $color-primario;

        h2 {
            padding: 20px;
            font-size: 50px;
        }

        p {
            margin-left: 100px;
            margin-right: 100px;
            font-size: 20px;
        }

        a {
            padding: 20px;
            font-size: 30px;
            color: $color-secundario;
        }
    }

    .grid-contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;

        .grid-items {
            color: $color-secundario;
            background-color: black;

            h2 {
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 30px;
            }

            p {
                font-size: 15px;
            }

            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                padding: 20px;
                align-content: center;
            }

        }
    }

    .envios {
        color: $color-secundario;
        background-color: $color-primario;
        text-align: center;
        background-image: url(../img/1-slide-1678189968784-2371531713-9bec6f1025b7bbe91c656d17ebe637241678189971-480-0.webp);
        width: 100%;
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $color-secundario;
        justify-items: center;
        div{
            iframe{
                padding:50px;
            }
        }
    }
    .accordion-body{
        color: white;
        background-color: black;
    }

    .mayoristas {
        background-image: url(../img/quesoss.jpg);
        width: 100%;
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $color-secundario;
        justify-items: center;
        ;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $color-primario;

        .foto-1 {
            img {
                width: 90px;
                height: 90px;
            }

            h3 {}

            p {}
        }

        .foto2 {
            img {
                width: 90px;
                height: 90px;
            }

            h3 {}

            p {}
        }

        .foto3 {
            img {
                width: 90px;
                height: 90px;
            }

            h3 {}

            p {}
        }
        .nosotros{
            p{
                padding:30px;
                margin-left: 100px;
                margin-right:100px;
                font-family: 'Times New Roman', Times, serif;
                font-size: 20px;
            }
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
        background-color: $color-primario;

        .grid-item {
            border: 2px solid $color-secundario;
            box-shadow: 15px 13px 12px -3px rgba(255, 255, 255, 0.5);
            -webkit-box-shadow: 15px 13px 12px -3px rgba(255, 255, 255, 0.5);
            -moz-box-shadow: 15px 13px 12px -3px rgba(255, 255, 255, 0.5);

            img {
                height: 350px;
                width: 300px;
                margin-left: 80px;
                margin-top: 30px;
            }

            h3 {
                color: $color-secundario;
                position: relative;
                text-align: center;
            }
        }
    }
}