@media screen and (max-width:414px) {
    main {
        .hero {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 15px;
            }

            a {
                font-size: 15px;
            }
        }


        .mayoristas {
            .foto-1 {
                img {
                    width: 50px;
                    height: 50px;
                }

                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 10px;
                    text-align: center;
                }
            }

            .foto2 {
                img {
                    width: 50px;
                    height: 50px;
                }

                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 10px;
                    text-align: center;
                }
            }

            .foto-3 {
                img {
                    width: 50px;
                    height: 50px;
                }

                h3 {
                    font-size: 20px;
                }

                p {
                    font-size: 10px;
                    text-align: center;
                }
            }
            .nosotros{
                p{
                    font-size: 15px;
                    padding:0;
                    margin-left: 3px;
                    margin-right: 3px;
                }
            }
        }

        .grid-contenedor {
            display: block;
            .grid-items{
                padding:3px;
                text-align: center;
            }
        }

        .grid-container {
            grid-template-columns: 300px;
            grid-template-rows: 250px;
            column-gap: 10px;
            row-gap: 50px;
            padding: 20px;

            .grid-item {
                border: 2px solid white;
                justify-content: center;

                img {
                    width: 150px;
                    height: 180px;
                    align-items: center;
                }

                h3 {
                    position: relative;
                    text-align: center;
                    font-size: 10px;

                }
            }
        }

        .envios {
            font-size: 8px;
            justify-content: center;
            align-items: center;

            p {
                font-size: 15px;
                justify-content: center;
                text-align: center;
            }

            form {
                .mb-3 {
                    justify-content: center;
                }
            }
        }
    }
}